<app-nav></app-nav>

<div>
  <ul>
    <li *ngFor="let item of persons">{{item.firstName}}</li>
  </ul>
</div>
<br>
<mat-form-field>
  <mat-label>Username:</mat-label>
  <input matInput value="" #username>
</mat-form-field>

<mat-form-field>
  <mat-label>Password:</mat-label>
  <input matInput value="" #password>
</mat-form-field>

<button mat-stroked-button (click)="loginMsg(username.value)">Log In snack-bar</button>
<button mat-stroked-button (click)="logoutMsg(username.value)">Log Out snack-bar</button>
